#homeSlideshow {
    height: 800px;
    width: auto;
    background-color: grey;
    overflow: hidden;
}

.slideimage {
    position: relative /* Declared position allows for location changes */;
    top: -200px; /* Moves the image 2px closer to the top of the page */;
}

.black-overlay {
    position: absolute;
    position: absolute;
    padding: inherit;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.slide-text {
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 200px;
    margin: auto;
    color: white;
}

.slide-caption {
    font-size: 30px;
    margin: 50px;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
}

