.jumbotron {
  margin-bottom: 0px;
}

.body-p {
  font-size: 20px;
  padding-left: 250px;
  padding-right: 250px;
  margin: 30px;
}

.service-area {
  text-align: start;
  padding-left: 1000px;
}

.service-list-item {
  font-size: 20px;
}

@media (max-width: 768px) {
  .body-p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }

  .truckpic {
    display: none;
  }

  .service-area {
    text-align: start;
    padding-left: 100px;
  }
}